<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender for general output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Console Appender for user messages (simpler format) -->
        <Console name="UserConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>

        <!-- File Appender for all logs -->
        <File name="FileAppender" fileName="logs/carservice.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- Rolling File Appender for errors -->
        <RollingFile name="ErrorFileAppender" fileName="logs/carservice-errors.log"
                     filePattern="logs/carservice-errors-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger for user interface messages -->
        <Logger name="com.carservice.ui" level="INFO" additivity="false">
            <AppenderRef ref="UserConsole"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Logger for application -->
        <Logger name="com.carservice" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
